## osX
*.DS_Store

## dependencies
node_modules
bundle.js
bundle-min.js

## locally files
js/source/assets/Shamsi.js
js/source/components/Test.js
.sass-cache
app.css.map
package-lock.json

## fonts
fonts