/*style*/

$pink-1:#FB669C;
$pink-1-op: rgba(251, 102, 156, 0.7);
$violet-1:#1D2B64;
$violet-1-op:rgba(29, 43, 100, 0.1);
$violet-1-op-2:rgba(29, 43, 100, 0.7);
$green-1: #2BE28A;
$green-2: #53FD97;
$blue-1:  #3B6DA9;

p,span,h1,h2{
    color: #333;
}